* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 10px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	display: inline;
	padding-left: 20px;
}

#f1 {
	width: 920px;
	height: 2em;
	background: lightblue;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: center;
	
}

#f2 {
	width: 920px;
	height: 2em;
	background: lightgoldenrodyellow;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: center;
}

#f3 {
	width: 920px;
	height: 3em;
	background: lightgrey;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: center;
}

#f4 {
	width: 920px;
	height: 2em;
	background: lightblue;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: center;
}

header {
	border: 1px solid black;
	background: lightblue;
	padding: 10px;
	width: 920px;
	margin: 0px auto;
}

nav {
	border: 1px solid black;
	background: lightgoldenrodyellow;
	width: 920px;
	margin: 0px auto;
	padding: 10px;
}

footer {
	width: 920px;
	/*height: 2em;*/
	background: lightblue;
	padding: 10px;
	border: 1px solid #000000;
	text-align: center;
	margin: 0 auto;
}