* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 10px;
}

#caixa1 {
	width: 100px;
	height: 100px;
	background: green;
	color: #FFFFFF;

}

#caixa1:hover {
	width: 200px;
	height: 100px;
	background: blue;
	color: yellow;
	transition: width 3s, color 1s;
}

#caixa2 {
	width: 100px;
	height: 100px;
	background: green;
	color: #FFFFFF;
}

#caixa2:hover {
	width: 200px;
	height: 100px;
	background: blue;
	color: yellow;
	transition: width 3s, background 3s;
}