* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h4{
    margin-left: 20px;
    margin-top: 20px;
}


#topo {
    margin: 10px;
}

#container {
    margin: 20px;
}

/*
**** carga de fontes personalizadas
*/
@font-face {
    font-family: "Road Rage";
    src: url("../fontes/Road_Rage.woff");
}

@font-face {
    font-family: "BringHeart";
    src: url("../fontes/BringHeart.woff");
}

@font-face {
    font-family: "Sketchy";
    src: url("../fontes/sketchy.woff");
}

@font-face {
    font-family: "Ancient Medium";
    src: url("../fontes/Ancient-Medium.woff");
}


#conteudo1 {
    margin: 20px;
    font-family: "Road Rage";
}

#conteudo2 {
    margin: 20px;
    font-family: "BringHeart";
    font-size: 2em;
}

#conteudo3 {
    margin: 20px;
    font-family: "Sketchy";
    font-size: 1.5em;
}

#conteudo4 {
    margin: 20px;
    font-family: "Ancient Medium";
    font-size: 1.5em;
}