/*
**** CONFIGURAÇÃO PÁGINAS DE LEIAUTE FIXO
*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #F2F2F2;
}

#container {
    /* width: 720px;  leiaute fixo */
    width: 85%;    /*leiaute fluído trabalha com percentuais  */
    margin: 0 auto;
    background: #FFFFFF;
    min-width: 720px;
    max-width: 1280px;
}

#marca {
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}

#menu-sup {
    margin: 20px;
    text-align: center;
}

#conteudo {
    /* width: 520px; leiaute fixo */
    width: 75%; 
    float: right;
}

#cont-principal {
    /* width: 320px; leiaute fixo */
    width: 64%; 
    float: left;
}

#cont-secundario {
    /* width: 180px; leiaute fixo */
    width: 34%;
    float: right;
    background: #D1D1D1;
}


#cont-secundario p, 
#cont-secundario h1, 
#cont-secundario h2, 
#cont-secundario h3 {
    padding-right: 20px;
    padding-left: 20px;
}

#navegacao {
    /* width: 180px; leiaute fixo */
    width: 23%; 
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #D1D1D1;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #C4C4C4;
    padding: 5px;
}