* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


ul {
	list-style-type: none;   /* retira a bolinha da frente da lista  */
	margin: 0;
	padding: 0;
	width: 720px;
}

/*
***** CONFIGURAÇÕES PARA O MENU VERTICAL
*/
#menu-vertical a {
	/* a imagem menu.png tem 400px largura x 40px altura */ 
	/* defino o width de apenas 200px para mostrar exatamente a metade clara da imagem*/
	/* quando o mouse passar por cima eu mostro a parte escura dela */
	width: 200px;
	height: 40px;
	display: block;
	/* a cor definida no começo do background é uma estratégia de backup. se a imagem não form carregada pelo menos o fundo branco não aparecerá */
	background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
	color: #000000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
}

#menu-vertical a:hover ,
#home #menu-vertical .home a,
#sobre #menu-vertical .sobre a,
#servicos #menu-vertical .servicos a,
#noticias #menu-vertical .noticias a,
#contato #menu-vertical .contato a {
	background-position: right bottom;
	background-color: #A99200;
	color: #FFFFFF;
} /* fim menu vertical */


/*
***** CONFIGURAÇÕES PARA O MENU HORIZONTAL
*/
#menu-horizontal ul {
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

#menu-horizontal li {
	float: left;
	line-height: 2.5em;
}

#menu-horizontal a {
	display: block;
	padding: 0 2em;
	text-decoration: none;
	color: #FFFFFF;
	background: url(../imagens/divisor.png) repeat-y left top;
}

#menu-horizontal primeiro {
	background: none;
}

#menu-horizontal a:hover,
#home #menu-horizontal .home a, 
#sobre #menu-horizontal .sobre a, 
#servicos #menu-horizontal .servicos a, 
#noticias #menu-horizontal .noticias a, 
#contato #menu-horizontal .contato a {
	color: #085662;
	background: #44CADE;
}


/*
***** CONFIGURAÇÕES PARA NAVEGAÇÃO EM ABAS
*/
#navegacao-abas li {
	float: left;
	background: url(../imagens/aba-direita.png) no-repeat top right;
}

#navegacao-abas a {
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	background: url(../imagens/aba-esquerda.png) no-repeat top left;
	color: #FFFFFF;
}

#navegacao-abas a:hover {
	color: #894A1F;
}

ul>#atual {
	background: url(../imagens/aba-direita-atual.png) no-repeat top right;
}

#atual>a {
	color: #894A1F;
	background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;
}